<!DOCTYPE html>
<html>
<head>
  <title>my-marvel-app Site</title>
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
