<div class="container">
  <div class="row">
    <div class ="bubble col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-l-offset-3 col-xl-offset-3 col-xs-6 col-sm-6 col-m-6 col-l-6 col-xl-6">
    <h2>SuperHero StandOff</h2>
    <p>Superhero stand off is a place for fanboys and girls to argue about who would win in a fight!</p>

    </div>
  </div>
<% if (currentUser) {} else { %>

  <div class="row">
    <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-l-offset-4 col-xl-offset-4 col-xs-4 col-s-4 col-m-4 col-l-4 col-xl-4">
      <form method="POST" action="/auth/login" class="form-group">
        <input type="name" name="userName" id="userName" class="form-control input-sm" placeholder="Your userName">
        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
        <input type="submit" value="Log In" class="btn btn-info btn-block">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-l-offset-4 col-xl-offset-4 col-xs-4 col-s-4 col-m-4 col-l-4 col-xl-4">
      <form method="POST" action="/auth/signup" class="form-group">
        <input type="email" name="email" id="email" class="form-control input-sm" placeholder="samp@altavista.com">
        <input type="text" name="userName" id="userName" class="form-control input-sm" placeholder="jonniBlayze">
        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
        <input type="submit" value="Sign Up" class="btn btn-info btn-block">
      </form>
    </div>
  </div>
<% }; %>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th class="danger">Hero1</th>
          <th class="warning">vs.</th>
          <th class="info">Hero2</th>
          <th class="success">comments(#)</th>
        </tr>
      </thead>
      <tbody>
        <% scenarios.forEach(function(scenario) { %>
        <tr id="">
          <td class="viewInfo btn-sm btn-info" viewId="<%= scenario.id %>">Details</td>
          <td class="danger"><%= scenario.heroOne %></td>
          <td id="scenId" class="warning"></td>
          <td class="info"><%= scenario.heroTwo %></td>
          <td class="success"><%= scenario.comment %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>


  </div>





</div>
