<div class="container">
  <div class="row">
    <h2>Contextual Classes</h2>
    <p>Contextual classes can be used to color table
      rows or table cells. The classes that can be used are:
      .active, .success, .info, .warning, and .danger.</p>
    <table class="table">
      <thead>
        <tr>
          <th class="danger">Hero1</th>
          <th class="warning">vs.</th>
          <th class="info">Hero2</th>
          <th class="success">comments(#)</th>
        </tr>
      </thead>
      <tbody>
        <% scenarios.forEach(function(scenario) { %>
        <tr>
          <td class="danger"><%= scenario.heroOne %></td>
          <td class="warning"></td>
          <td class="info"><%= scenario.heroTwo %></td>
          <td  class="success"><%= scenario.comment %></td>
        </tr>
        <% }); %>

      </tbody>
    </table>
  </div>




  <div class="row">
    <div class="col-xs-3 col-s-3 col-m-3 col-l-3 col-xl-3">
      <form method="POST" action="/auth/login" class="form-group">
        <input type="name" name="username" id="username" class="form-control input-sm" placeholder="Your username">
        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
        <input type="submit" value="Log In" class="btn btn-info btn-block">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-s-3 col-m-3 col-l-3 col-xl-3">
      <form method="POST" action="/auth/signup" class="form-group">
        <input type="email" name="email" id="email" class="form-control input-sm" placeholder="samp@altavista.com">
        <input type="text" name="username" id="username" class="form-control input-sm" placeholder="jonniBlayze">
        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
        <input type="submit" value="Sign Up" class="btn btn-info btn-block">
      </form>
    </div>
  </div>
</div>
