<form method="POST" action="/auth/login" class="form-group">
  <input type="name" name="username" id="username" class="form-control input-sm" placeholder="Your username">
  <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
  <input type="submit" value="Log In" class="btn btn-info btn-block">
</form>




<form method="POST" action="/auth/signup" class="form-group">
  <input type="email" name="email" id="email" class="form-control input-sm" placeholder="samp@altavista.com">
  <input type="text" name="username" id="username" class="form-control input-sm" placeholder="jonniBlayze">
  <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
  <input type="submit" value="Sign Up" class="btn btn-info btn-block">
</form>
