<div class="col-sm-12">
 <ul>
   <h4 class="results"> Results:</h4>
   <ul class="title">
     <!-- <% characters.forEach(function(character) { %>
       <%= console.log(characters); %>
     <% }); %> -->
   </ul>
</div>

   <!-- <li><h3><a class ="result" href="<%= '/result/' + lego.set_id + '/?q=' + q %>"><img class="results" src="<%= lego.img_sm %>" >  <%= lego.descr %></h3></a> </li> -->
